.button {
  font-family: inherit;
  border-radius: 100vw;
  font-weight: 700;
  cursor: pointer;
  border: none;

  &--primaryL,
  &--primaryS {
    background-color: var(--clr-primary);
    color: var(--clr-white);

    &:focus-visible {
      background-color: var(--clr-primary-light);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--clr-primary-light);
      }
    }
  }

  &--primaryL {
    font-size: 0.9375em;
    height: 48px;
  }

  &--primaryS {
    height: 40px;
    font-size: 0.8125em;
    line-height: 1.4375em;
  }

  &--secondary {
    font-size: 0.8125em;
    line-height: 1.4375em;
    height: 40px;
    background-color: var(--clr-btn-secondary);
    color: var(--clr-primary);

    &:focus-visible {
      background-color: var(--clr-btn-secondary-hover);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--clr-btn-secondary-hover);
      }
    }
  }

  &--destructive {
    height: 40px;
    font-size: 0.8125em;
    line-height: 1.4375em;
    background-color: var(--clr-destructive);
    color: var(--clr-white);

    &:focus-visible {
      background-color: var(--clr-destructive-light);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--clr-destructive-light);
      }
    }
  }

  &--disabled {
    opacity: 0.25;
    pointer-events: none;
  }
}
