.button {
  font-family: inherit;
  border-radius: 100vw;
  font-weight: 700;
  padding-left: 1.5625em;
  padding-right: 1.5625em;
  cursor: pointer;
  border: none;

  &--1 {
    font-size: 0.9375em;
    line-height: 1.1875em;
    padding-top: 0.9375em;
    padding-bottom: 0.9375em;
    background-color: var(--clr-btn-1);
    color: #ffffff;

    &:hover {
      background-color: var(--clr-btn-1-hover);
    }
  }
  &--2 {
    font-size: 0.8125em;
    line-height: 1.4375em;
    padding-top: 0.5em;
    padding-bottom: 0.5625em;
    background-color: var(--clr-btn-2);
    color: #ffffff;

    &:hover {
      background-color: var(--clr-btn-2-hover);
    }
  }
  &--3 {
    font-size: 0.8125em;
    line-height: 1.4375em;
    padding-top: 0.5em;
    padding-bottom: 0.5625em;
    background-color: var(--clr-btn-3);
    color: var(--clr-1);

    &:hover {
      background-color: var(--clr-btn-3-hover);
    }
  }
  &--4 {
    font-size: 0.8125em;
    line-height: 1.4375em;
    padding-top: 0.5em;
    padding-bottom: 0.5625em;
    background-color: var(--clr-btn-4);
    color: var(--clr-1);

    &:hover {
      background-color: var(--clr-btn-4-hover);
    }
  }
}
