.heading {
  font-weight: bold;

  &--XL {
    font-size: 1.5em;
    line-height: 30px;

    @media (max-width: 1000px) {
      font-size: 1.25em;
      line-height: 25.2px;
    }

    @media (max-width: 650px) {
      font-size: 1.125em;
      line-height: 22.68px;
    }
  }

  &--L {
    font-size: 1.125em;
    line-height: 23px;
  }

  &--M {
    font-size: 0.9375em;
    line-height: 19px;
  }

  &--S {
    font-size: 0.75em;
    line-height: 15px;
    font-kerning: 2.4px;
  }
}
