.container {
  position: absolute;
  top: 80px;
  left: 56px;
  width: 264px;
  padding: 16px 0;
  transition: background-color 200ms;

  @media (max-width: 376px) {
    left: 50%;
    transform: translateX(-50%);
    max-width: 93%;
  }
}

.boards-list {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.boards-scrollable {
  flex-grow: 1;
  overflow-y: auto;
  max-height: calc(100vh - 355px);
}

.theme-switch {
  margin: 16px auto 0 auto;
}
